In [1]:
import sqlite3
import pandas as pd
import numpy as np
import tensorflow as tf
from pickle import dump

In [2]:
tf.__version__

'2.7.0'

# Connect to our DB

In [3]:
con = sqlite3.connect('riot_matches.db')

In [4]:
df_matches =  pd.read_sql_query("SELECT * FROM match", con)
con.close()

In [5]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            13374 non-null  int64
 1   game_id       13374 non-null  object
 2   blue_dragons  13374 non-null  int64
 3   blue_heralds  13374 non-null  int64
 4   blue_barons   13374 non-null  int64
 5   blue_turrets  13374 non-null  int64
 6   blue_kills    13374 non-null  int64
 7   blue_gold_20  13374 non-null  int64
 8   red_dragons   13374 non-null  int64
 9   red_heralds   13374 non-null  int64
 10  red_barons    13374 non-null  int64
 11  red_turrets   13374 non-null  int64
 12  red_kills     13374 non-null  int64
 13  red_gold_20   13374 non-null  int64
 14  winner        13374 non-null  object
dtypes: int64(13), object(2)
memory usage: 1.5+ MB

In [6]:
df_matches.sample(5)

,id,game_id,blue_dragons,blue_heralds,blue_barons,blue_turrets,blue_kills,blue_gold_20,red_dragons,red_heralds,red_barons,red_turrets,red_kills,red_gold_20,winner
6209,6210,NA1_4187557861,1,1,0,6,30,48432,1,1,0,5,14,39490,Team 1
1352,1353,NA1_4182707217,2,2,0,13,26,46578,0,0,0,0,14,34322,Team 1
6317,6318,NA1_4191366040,1,1,0,2,18,38100,2,1,0,6,32,48711,Team 2
13006,13007,NA1_4190365913,1,0,1,1,21,40187,2,2,0,3,18,40531,Team 1
12548,12549,NA1_4189353583,1,0,0,1,18,38699,2,2,1,7,36,51433,Team 2

# Chosen Parameters

Compared to the gold-only model, this model will utilize more parameters that influence momentum and game state. 
<br>The chosen parameters are:
<br>-Kills 
<br>-Deaths
<br>-Assists
<br>-Dragons
<br>-Heralds
<br>-Gold Difference
<br>-Objectives(Turrets/Inhibitors)
<br>These parameters would be calculated in each team's perspective, and then used in our neural network as a 1D array

# Clean our database entries

In [7]:
df_matches = df_matches.drop_duplicates(subset=['game_id'])
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5783 entries, 0 to 13373
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5783 non-null   int64
 1   game_id       5783 non-null   object
 2   blue_dragons  5783 non-null   int64
 3   blue_heralds  5783 non-null   int64
 4   blue_barons   5783 non-null   int64
 5   blue_turrets  5783 non-null   int64
 6   blue_kills    5783 non-null   int64
 7   blue_gold_20  5783 non-null   int64
 8   red_dragons   5783 non-null   int64
 9   red_heralds   5783 non-null   int64
 10  red_barons    5783 non-null   int64
 11  red_turrets   5783 non-null   int64
 12  red_kills     5783 non-null   int64
 13  red_gold_20   5783 non-null   int64
 14  winner        5783 non-null   object
dtypes: int64(13), object(2)
memory usage: 722.9+ KB

In [8]:
df_matches.reset_index(inplace=True, drop=True)
df_matches['winner'] = df_matches.apply(lambda row:
     1 if row['winner'] == 'Team 1'
     else 0,
     axis=1
)
df_matches

,id,game_id,blue_dragons,blue_heralds,blue_barons,blue_turrets,blue_kills,blue_gold_20,red_dragons,red_heralds,red_barons,red_turrets,red_kills,red_gold_20,winner
0,1,NA1_4191213709,1,1,0,4,33,46758,2,0,0,3,27,43584,0
1,2,NA1_4191210746,2,1,0,5,25,43593,1,1,0,2,8,34308,1
2,3,NA1_4191135959,3,2,0,12,28,46983,0,0,0,0,12,33526,1
3,4,NA1_4191130723,0,0,1,1,25,41676,1,1,0,3,22,40890,0
4,5,NA1_4189716443,1,2,0,8,27,48079,1,0,0,2,14,38229,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5778,13370,NA1_4190634273,3,1,1,5,28,45054,0,1,0,1,15,36413,1
5779,13371,NA1_4190605222,0,2,0,2,17,39224,2,0,0,4,11,38690,0
5780,13372,NA1_4184950229,0,0,0,2,18,38409,3,2,0,3,15,39227,0
5781,13373,NA1_4184835767,0,0,0,1,20,40145,3,2,0,3,36,47098,0
5782,13374,NA1_4184753952,2,1,0,3,16,38414,1,1,0,1,18,37597,0

In [9]:
df_features = df_matches.iloc[:, 2:14].values
df_features.shape

(5783, 12)

In [10]:
df_label = df_matches.iloc[:, -1:].values
df_label

array([[0],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

### Split Data to training/testing features and label

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_features, df_label, test_size=0.2, random_state=0)

In [12]:
print(x_train[0], y_train[0])

[    3     1     0     4    11 38727     0     1     0     3    11 36581] [1]

### Apply Standardization to data (helps the model with assigning weights and bias)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler().fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)
dump(sc, open('scaler.pkl', 'wb')) # Save our mean and standard deviation for prediction

In [14]:
x_train[0]

array([ 1.82661646,  0.09737731, -0.26427777,  0.50996733, -1.06670722,
       -0.23249149, -1.47301635,  0.08439657, -0.27851056,  0.04976615,
       -1.09563746, -0.82078816])

In [15]:
(x_test[0].shape)

(12,)

# Create our sequential model

In [16]:
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))
nn.add(tf.keras.layers.Dense(units=4, activation="relu"))
# nn.add(tf.keras.layers.Dense(units=2, activation="relu"))
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
nn.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])
nn.fit(x_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
145/145 [==============================] - 1s 3ms/step - loss: 0.5895 - accuracy: 0.6922
Epoch 2/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4520 - accuracy: 0.7892
Epoch 3/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4189 - accuracy: 0.8080
Epoch 4/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4088 - accuracy: 0.8115
Epoch 5/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4029 - accuracy: 0.8150
Epoch 6/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3996 - accuracy: 0.8160
Epoch 7/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3969 - accuracy: 0.8171
Epoch 8/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3953 - accuracy: 0.8167
Epoch 9/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3937 - accuracy: 0.8186
Epoch 10/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3923 - accuracy: 0.8206
Epoch 11/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3912 - accuracy: 0.8184
Epoch 12/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3905 - accuracy: 0.8210
Epoch 13/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3892 - accuracy: 0.8227
Epoch 14/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3883 - accuracy: 0.8214
Epoch 15/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3877 - accuracy: 0.8219
Epoch 16/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3868 - accuracy: 0.8236
Epoch 17/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3862 - accuracy: 0.8247
Epoch 18/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3857 - accuracy: 0.8251
Epoch 19/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3850 - accuracy: 0.8262
Epoch 20/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3846 - accuracy: 0.8273
Epoch 21/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3840 - accuracy: 0.8264: 0s - loss: 0.3753 -
Epoch 22/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3838 - accuracy: 0.8284
Epoch 23/100
145/145 [==============================] - 1s 4ms/step - loss: 0.3830 - accuracy: 0.8268
Epoch 24/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3829 - accuracy: 0.8290
Epoch 25/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3825 - accuracy: 0.8279
Epoch 26/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3819 - accuracy: 0.8297
Epoch 27/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3818 - accuracy: 0.8275
Epoch 28/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3814 - accuracy: 0.8299
Epoch 29/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3810 - accuracy: 0.8307
Epoch 30/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3808 - accuracy: 0.8301
Epoch 31/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3803 - accuracy: 0.8307
Epoch 32/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3803 - accuracy: 0.8307
Epoch 33/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3798 - accuracy: 0.8323: 0s - loss: 0.3830 - accuracy:
Epoch 34/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3798 - accuracy: 0.8312
Epoch 35/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3793 - accuracy: 0.8316
Epoch 36/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3792 - accuracy: 0.8320
Epoch 37/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3790 - accuracy: 0.8323
Epoch 38/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3789 - accuracy: 0.8314
Epoch 39/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3784 - accuracy: 0.8323
Epoch 40/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3786 - accuracy: 0.8301
Epoch 41/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3779 - accuracy: 0.8307
Epoch 42/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3779 - accuracy: 0.8329
Epoch 43/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3780 - accuracy: 0.8307
Epoch 44/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3775 - accuracy: 0.8318
Epoch 45/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3774 - accuracy: 0.8314
Epoch 46/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3774 - accuracy: 0.8314
Epoch 47/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3772 - accuracy: 0.8323
Epoch 48/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3771 - accuracy: 0.8329
Epoch 49/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3767 - accuracy: 0.8327
Epoch 50/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3767 - accuracy: 0.8320
Epoch 51/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3765 - accuracy: 0.8331
Epoch 52/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3764 - accuracy: 0.8318
Epoch 53/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3763 - accuracy: 0.8312: 0s - loss: 0.3775 - accuracy: 0.
Epoch 54/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3761 - accuracy: 0.8340
Epoch 55/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3760 - accuracy: 0.8327
Epoch 56/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3756 - accuracy: 0.8333
Epoch 57/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3756 - accuracy: 0.8318
Epoch 58/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3757 - accuracy: 0.8320
Epoch 59/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3755 - accuracy: 0.8320
Epoch 60/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3753 - accuracy: 0.8333
Epoch 61/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3756 - accuracy: 0.8331
Epoch 62/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3749 - accuracy: 0.8338
Epoch 63/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3749 - accuracy: 0.8325
Epoch 64/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3748 - accuracy: 0.8329
Epoch 65/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3749 - accuracy: 0.8351
Epoch 66/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3749 - accuracy: 0.8325
Epoch 67/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3748 - accuracy: 0.8307
Epoch 68/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3745 - accuracy: 0.8333
Epoch 69/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3744 - accuracy: 0.8318: 0s - loss: 0.3752 - accuracy: 0.83
Epoch 70/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3743 - accuracy: 0.8327
Epoch 71/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3742 - accuracy: 0.8331
Epoch 72/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3743 - accuracy: 0.8323
Epoch 73/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3741 - accuracy: 0.8323
Epoch 74/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3743 - accuracy: 0.8331
Epoch 75/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3741 - accuracy: 0.8353
Epoch 76/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3739 - accuracy: 0.8335
Epoch 77/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3738 - accuracy: 0.8316
Epoch 78/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3737 - accuracy: 0.8327
Epoch 79/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3738 - accuracy: 0.8331
Epoch 80/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3737 - accuracy: 0.8344
Epoch 81/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3735 - accuracy: 0.8335
Epoch 82/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3736 - accuracy: 0.8331
Epoch 83/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3735 - accuracy: 0.8323
Epoch 84/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3734 - accuracy: 0.8333
Epoch 85/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3734 - accuracy: 0.8351
Epoch 86/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3731 - accuracy: 0.8329
Epoch 87/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3731 - accuracy: 0.8338
Epoch 88/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3731 - accuracy: 0.8314
Epoch 89/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3732 - accuracy: 0.8325
Epoch 90/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3730 - accuracy: 0.8333
Epoch 91/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3730 - accuracy: 0.8340
Epoch 92/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3733 - accuracy: 0.8335
Epoch 93/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3732 - accuracy: 0.8335
Epoch 94/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3729 - accuracy: 0.8346
Epoch 95/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3724 - accuracy: 0.8325
Epoch 96/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3730 - accuracy: 0.8333
Epoch 97/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3725 - accuracy: 0.8342
Epoch 98/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3725 - accuracy: 0.8331
Epoch 99/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3726 - accuracy: 0.8335
Epoch 100/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3725 - accuracy: 0.8338

In [17]:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 104

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 145
Trainable params: 145
Non-trainable params: 0
_________________________________________________________________

In [18]:
results = nn.evaluate(x_test, y_test, batch_size=128)
print("test loss, test acc:", results)

10/10 [==============================] - 0s 2ms/step - loss: 0.3912 - accuracy: 0.8133
test loss, test acc: [0.39115676283836365, 0.8133102655410767]

In [19]:
# nn.save("model_w_params")

In [20]:
# model = tf.keras.models.load_model('model_w_paramsfeb1')

In [21]:
print(x_test[0], y_test[0])
print(nn.predict(np.array([x_test[0]])), y_test[0])

[-1.25542406 -1.2007997  -0.26427777  0.50996733 -1.21771825 -0.45263979
  1.57446738  1.40337818 -0.27851056  0.52739728 -0.33502474  0.01255354] [0]
[[0.15510498]] [0]

In [22]:
print(x_test[1], y_test[1])
print(nn.predict(np.array([x_test[1]])), y_test[1])

[-0.22807722 -1.2007997   3.78389757 -0.40850994 -0.46266308  0.10933128
 -0.45718844  0.08439657 -0.27851056 -0.42786498 -0.63926983 -0.7617524 ] [1]
[[0.905683]] [1]