In [2]:
import sqlite3
import pandas as pd
import numpy as np
import tensorflow as tf

In [2]:
tf.__version__

'2.7.0'

# Connect to our DB

In [5]:
con = sqlite3.connect('riot_matches.db')

In [6]:
df_matches =  pd.read_sql_query("SELECT * FROM match", con)
con.close()

In [7]:
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13374 entries, 0 to 13373
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            13374 non-null  int64
 1   game_id       13374 non-null  object
 2   blue_dragons  13374 non-null  int64
 3   blue_heralds  13374 non-null  int64
 4   blue_barons   13374 non-null  int64
 5   blue_turrets  13374 non-null  int64
 6   blue_kills    13374 non-null  int64
 7   blue_gold_20  13374 non-null  int64
 8   red_dragons   13374 non-null  int64
 9   red_heralds   13374 non-null  int64
 10  red_barons    13374 non-null  int64
 11  red_turrets   13374 non-null  int64
 12  red_kills     13374 non-null  int64
 13  red_gold_20   13374 non-null  int64
 14  winner        13374 non-null  object
dtypes: int64(13), object(2)
memory usage: 1.5+ MB

In [8]:
df_matches.sample(5)

,id,game_id,blue_dragons,blue_heralds,blue_barons,blue_turrets,blue_kills,blue_gold_20,red_dragons,red_heralds,red_barons,red_turrets,red_kills,red_gold_20,winner
8688,8689,NA1_4184122121,1,0,0,3,12,38236,2,2,0,2,9,35521,Team 1
9764,9765,NA1_4191475264,0,1,0,1,18,38685,3,1,1,4,32,50196,Team 2
4633,4634,NA1_4190198714,1,0,0,1,22,39950,2,1,0,5,26,46127,Team 2
5099,5100,NA1_4190272939,2,2,0,5,30,46561,0,0,0,2,16,38812,Team 1
100,101,NA1_4184874816,1,1,0,2,7,33913,2,1,0,3,18,41738,Team 2

# Chosen Parameters

Compared to the gold-only model, this model will utilize more parameters that influence momentum and game state. 
<br>The chosen parameters are:
<br>-Kills 
<br>-Deaths
<br>-Assists
<br>-Dragons
<br>-Heralds
<br>-Gold Difference
<br>-Objectives(Turrets/Inhibitors)
<br>These parameters would be calculated in each team's perspective, and then used in our neural network as a 1D array

# Clean our database entries

In [9]:
df_matches = df_matches.drop_duplicates(subset=['game_id'])
df_matches.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5783 entries, 0 to 13373
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            5783 non-null   int64
 1   game_id       5783 non-null   object
 2   blue_dragons  5783 non-null   int64
 3   blue_heralds  5783 non-null   int64
 4   blue_barons   5783 non-null   int64
 5   blue_turrets  5783 non-null   int64
 6   blue_kills    5783 non-null   int64
 7   blue_gold_20  5783 non-null   int64
 8   red_dragons   5783 non-null   int64
 9   red_heralds   5783 non-null   int64
 10  red_barons    5783 non-null   int64
 11  red_turrets   5783 non-null   int64
 12  red_kills     5783 non-null   int64
 13  red_gold_20   5783 non-null   int64
 14  winner        5783 non-null   object
dtypes: int64(13), object(2)
memory usage: 722.9+ KB

In [10]:
df_matches.reset_index(inplace=True, drop=True)
df_matches['winner'] = df_matches.apply(lambda row:
     1 if row['winner'] == 'Team 1'
     else 0,
     axis=1
)
df_matches

,id,game_id,blue_dragons,blue_heralds,blue_barons,blue_turrets,blue_kills,blue_gold_20,red_dragons,red_heralds,red_barons,red_turrets,red_kills,red_gold_20,winner
0,1,NA1_4191213709,1,1,0,4,33,46758,2,0,0,3,27,43584,0
1,2,NA1_4191210746,2,1,0,5,25,43593,1,1,0,2,8,34308,1
2,3,NA1_4191135959,3,2,0,12,28,46983,0,0,0,0,12,33526,1
3,4,NA1_4191130723,0,0,1,1,25,41676,1,1,0,3,22,40890,0
4,5,NA1_4189716443,1,2,0,8,27,48079,1,0,0,2,14,38229,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5778,13370,NA1_4190634273,3,1,1,5,28,45054,0,1,0,1,15,36413,1
5779,13371,NA1_4190605222,0,2,0,2,17,39224,2,0,0,4,11,38690,0
5780,13372,NA1_4184950229,0,0,0,2,18,38409,3,2,0,3,15,39227,0
5781,13373,NA1_4184835767,0,0,0,1,20,40145,3,2,0,3,36,47098,0
5782,13374,NA1_4184753952,2,1,0,3,16,38414,1,1,0,1,18,37597,0

In [11]:
df_features = df_matches.iloc[:, 2:14].values
df_features.shape

(5783, 12)

In [12]:
df_label = df_matches.iloc[:, -1:].values
df_label

array([[0],
       [1],
       [1],
       ...,
       [0],
       [0],
       [0]], dtype=int64)

### Split Data to training/testing features and label

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(df_features, df_label, test_size=0.2, random_state=0)

In [14]:
print(x_train[0], y_train[0])

[    3     1     0     4    11 38727     0     1     0     3    11 36581] [1]

### Apply Standardization to data (helps the model with assigning weights and bias)

In [15]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [16]:
x_train[0]

array([ 1.82661646,  0.09737731, -0.26427777,  0.50996733, -1.06670722,
       -0.23249149, -1.47301635,  0.08439657, -0.27851056,  0.04976615,
       -1.09563746, -0.82078816])

In [17]:
(x_test[0].shape)

(12,)

# Create our sequential model

In [16]:
nn = tf.keras.models.Sequential()
nn.add(tf.keras.layers.Dense(units=8, activation="relu"))
nn.add(tf.keras.layers.Dense(units=4, activation="relu"))
# nn.add(tf.keras.layers.Dense(units=2, activation="relu"))
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
nn.compile(optimizer="adam", loss="binary_crossentropy", metrics=["accuracy"])
nn.fit(x_train, y_train, batch_size=32, epochs=100)

Epoch 1/100
145/145 [==============================] - 1s 3ms/step - loss: 0.6056 - accuracy: 0.6725
Epoch 2/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4758 - accuracy: 0.7726
Epoch 3/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4317 - accuracy: 0.7953
Epoch 4/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4122 - accuracy: 0.8096
Epoch 5/100
145/145 [==============================] - 0s 3ms/step - loss: 0.4024 - accuracy: 0.8197
Epoch 6/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3968 - accuracy: 0.8208
Epoch 7/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3941 - accuracy: 0.8221
Epoch 8/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3917 - accuracy: 0.8245
Epoch 9/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3905 - accuracy: 0.8247
Epoch 10/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3894 - accuracy: 0.8251
Epoch 11/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3886 - accuracy: 0.8258
Epoch 12/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3878 - accuracy: 0.8253
Epoch 13/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3871 - accuracy: 0.8256
Epoch 14/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3864 - accuracy: 0.8262
Epoch 15/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3859 - accuracy: 0.8266
Epoch 16/100
145/145 [==============================] - 1s 3ms/step - loss: 0.3851 - accuracy: 0.8268
Epoch 17/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3847 - accuracy: 0.8262
Epoch 18/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3842 - accuracy: 0.8268
Epoch 19/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3833 - accuracy: 0.8279
Epoch 20/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3834 - accuracy: 0.8275
Epoch 21/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3828 - accuracy: 0.8279
Epoch 22/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3827 - accuracy: 0.8275
Epoch 23/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3825 - accuracy: 0.8279
Epoch 24/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3817 - accuracy: 0.8281
Epoch 25/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3816 - accuracy: 0.8284
Epoch 26/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3816 - accuracy: 0.8284
Epoch 27/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3809 - accuracy: 0.8292
Epoch 28/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3808 - accuracy: 0.8279
Epoch 29/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3804 - accuracy: 0.8299
Epoch 30/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3802 - accuracy: 0.8292
Epoch 31/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3801 - accuracy: 0.8284
Epoch 32/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3798 - accuracy: 0.8292
Epoch 33/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3795 - accuracy: 0.8288
Epoch 34/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3793 - accuracy: 0.8290
Epoch 35/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3795 - accuracy: 0.8284
Epoch 36/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3788 - accuracy: 0.8292
Epoch 37/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3789 - accuracy: 0.8273
Epoch 38/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3787 - accuracy: 0.8284
Epoch 39/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3784 - accuracy: 0.8284
Epoch 40/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3781 - accuracy: 0.8290
Epoch 41/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3779 - accuracy: 0.8294
Epoch 42/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3781 - accuracy: 0.8294
Epoch 43/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3776 - accuracy: 0.8284
Epoch 44/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3776 - accuracy: 0.8290
Epoch 45/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3773 - accuracy: 0.8301
Epoch 46/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3771 - accuracy: 0.8292
Epoch 47/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3773 - accuracy: 0.8305
Epoch 48/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3765 - accuracy: 0.8297
Epoch 49/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3769 - accuracy: 0.8297
Epoch 50/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3767 - accuracy: 0.8299
Epoch 51/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3762 - accuracy: 0.8301
Epoch 52/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3763 - accuracy: 0.8307
Epoch 53/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3763 - accuracy: 0.8316
Epoch 54/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3759 - accuracy: 0.8286
Epoch 55/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3759 - accuracy: 0.8329
Epoch 56/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3756 - accuracy: 0.8303
Epoch 57/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3753 - accuracy: 0.8314
Epoch 58/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3757 - accuracy: 0.8307
Epoch 59/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3752 - accuracy: 0.8312
Epoch 60/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3755 - accuracy: 0.8325
Epoch 61/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3753 - accuracy: 0.8297
Epoch 62/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3748 - accuracy: 0.8323
Epoch 63/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3747 - accuracy: 0.8307
Epoch 64/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3746 - accuracy: 0.8327
Epoch 65/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3745 - accuracy: 0.8310
Epoch 66/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3742 - accuracy: 0.8318
Epoch 67/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3742 - accuracy: 0.8331
Epoch 68/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3737 - accuracy: 0.8320
Epoch 69/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3742 - accuracy: 0.8314
Epoch 70/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3738 - accuracy: 0.8335
Epoch 71/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3737 - accuracy: 0.8318
Epoch 72/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3735 - accuracy: 0.8320
Epoch 73/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3736 - accuracy: 0.8340
Epoch 74/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3734 - accuracy: 0.8333
Epoch 75/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3736 - accuracy: 0.8329
Epoch 76/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3730 - accuracy: 0.8327
Epoch 77/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3731 - accuracy: 0.8335
Epoch 78/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3733 - accuracy: 0.8348
Epoch 79/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3729 - accuracy: 0.8351
Epoch 80/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3729 - accuracy: 0.8338
Epoch 81/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3727 - accuracy: 0.8340
Epoch 82/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3726 - accuracy: 0.8344
Epoch 83/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3724 - accuracy: 0.8359
Epoch 84/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3725 - accuracy: 0.8353
Epoch 85/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3724 - accuracy: 0.8340
Epoch 86/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3728 - accuracy: 0.8333
Epoch 87/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3722 - accuracy: 0.8346
Epoch 88/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3719 - accuracy: 0.8353
Epoch 89/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3725 - accuracy: 0.8331
Epoch 90/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3723 - accuracy: 0.8357
Epoch 91/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3718 - accuracy: 0.8338
Epoch 92/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3719 - accuracy: 0.8353
Epoch 93/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3716 - accuracy: 0.8344
Epoch 94/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3720 - accuracy: 0.8348
Epoch 95/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3718 - accuracy: 0.8368
Epoch 96/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3719 - accuracy: 0.8351
Epoch 97/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3716 - accuracy: 0.8344
Epoch 98/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3714 - accuracy: 0.8355
Epoch 99/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3716 - accuracy: 0.8346
Epoch 100/100
145/145 [==============================] - 0s 3ms/step - loss: 0.3717 - accuracy: 0.8357

In [17]:
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 8)                 104

 dense_1 (Dense)             (None, 4)                 36

 dense_2 (Dense)             (None, 1)                 5

=================================================================
Total params: 145
Trainable params: 145
Non-trainable params: 0
_________________________________________________________________

In [18]:
results = nn.evaluate(x_test, y_test, batch_size=128)
print("test loss, test acc:", results)

10/10 [==============================] - 0s 2ms/step - loss: 0.3975 - accuracy: 0.8142
test loss, test acc: [0.39748573303222656, 0.8141745924949646]

In [19]:
# nn.save("model_w_paramsfeb1")

In [3]:
model = tf.keras.models.load_model('model_w_paramsfeb1')

In [18]:
print(model.predict(np.array([x_test[0]])), y_test[0])

[[0.12662897]] [0]

In [19]:
print(model.predict(np.array([x_test[1]])), y_test[1])

[[0.89648604]] [1]